body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgba(128, 128, 128, 0.25);
  font-family: sans-serif;
  letter-spacing: 30px;
  font-size: 50px;
}
h1 span {
  animation-duration: 0.8s;
  animation-name: lighting;
  animation-iteration-count: infinite;
}
.l1 {
  animation-delay: 0.0s;
}
@keyframes lighting {
  0% {
    color: rgba(128, 128, 128, 0.25);
  }
  80%{
    color: rgba(128, 128, 128, 0.25);
  }
  100%{
    color: gold;
    text-shadow: 0px 0px 20px;
  }
}
.l2 {
  animation-delay: 0.1s;
}
.l3 {
  animation-delay: 0.2s;
}
.l4 {
  animation-delay: 0.3s;
}
.l5 {
  animation-delay: 0.4s;
}
.l6 {
  animation-delay: 0.5s;
}
.l7 {
  animation-delay: 0.6s;
}
.l8 {
  animation-delay: 0.7s;
}
